#graph {
    margin-left: 10px;
    margin-top: 0px;
    width: 820px;
    height: 650px;
    border: 2px solid gray;
}
#table {
    position: relative;
    margin-left: 850px;
    margin-top: -650px;
    width: 670px;
    height: 650px;
    border: 2px solid gray;
}
.alert
{
    margin-left: 10px;
    width: 640px;
    margin-top: 10px;
}
.image_logo
{
    width: 100px;
    height: 100px;
}
#name_choice
{
    margin-left: 250px;
}
.form-label
{
    margin-left: 10px;
}
.form-control
{
    margin-left: 10px;
    width: 620px;
}
.btn
{
    margin-left: 10px;
}
.btn-group {
    margin-left: 0px;
    margin-top: 0px;
}
.btn-primary {
    width: 150px;
    margin-right: 10px;
    padding-left: 40px;
    border: 1px solid black;
    border-radius: 25px;
}
.glyphicon {
    margin-left: -50px;
}
#div_create_nodes {
    display: none;
}
#div_create_arc {
    display: none;
}
#div_delete_node {
    display: none;
}
#div_delete_arc {
    display: none;
}
#div_set_properties {
    display: none;
}
#div_probability_table {
    display: none;
}
#div_query
{
    display: none;
}
.table
{
    margin-left: 10px;
    width: 640px;
}